<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exPop0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,3788},{136,136}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{562,560},{136,136}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,3788},{178,178}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{541,539},{178,178}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3788},{228,228}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,514},{228,228}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3656,2},{352,330}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,455},{352,330}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3226,2},{428,382}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,426},{428,382}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{1016,998}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,180},{1016,998}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2282,2},{942,920}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,192},{942,920}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2526},{1260,1260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1260,1260}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1264},{1260,1260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1260,1260}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
            <key>exPop9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1260,1260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1260,1260}}</string>
                <key>sourceSize</key>
                <string>{1260,1260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exPop.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80bc89829d31ff2dddda52c2fed3954c$</string>
            <key>textureFileName</key>
            <string>exPop.pvr.ccz</string>
        </dict>
    </dict>
</plist>
